<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas { height: 100% }
    </style>
    <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDFBRMj_R_eCBebGLSFuKviKayRSod8XFE&sensor=SET_TO_TRUE_OR_FALSE">
    </script>
    <script type="text/javascript"
      src="http://code.jquery.com/jquery-2.1.1.min.js">
    </script>
    <script type="text/javascript" src = "js/viaji.js"></script>
    <script type="text/javascript" src = "js/mapa.js"></script>
  </head>
  <body>
  <div id="map_canvas" style="height:500px"></div>
	<div class="container">
		<div class="row">
		  <div class="col-md-8">
				
		  </div>
		  <div class="col-md-4">
			<h2 class="featurette-heading">Tracks <span class="muted">It'll blow your mind.</span></h2>
      <a href=> </a>
      <iframe id="playlist" src="https://embed.spotify.com/?uri=spotify:trackset:Que viaji:" width="300" height="400" frameborder="0" allowtransparency="true"></iframe>
		  </div>
		</div>
	</div>
  </body>
</html>
